/venv
/src/models/clip_finetuned
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

/images/uploaded
/outputs
/backend/models/clip_finetuned/model.safetensors
/backup_clip-hybrid-100pct.zip
/frontend/node_modules
